In [1]:
list=["mango","tree"]
list.append("fire")
list.insert(3,"water")
if "water" in list:
  print("Yes water is present")

Yes water is present

In [2]:
message="mango is better then orange" 
keyword="better no"
ciphertext="" 
all_alphabets=[]
for i in range(65,91):
  all_alphabets.append(chr(i))
msg=[]
for i in message:
  msg.append(i.upper())
print(msg)
keyword1=keyword.upper()
def duplicates(list):
  key=[]
  for i in list:
    if i not in key:
      key.append(i)
  return key
keyword1=duplicates(keyword)
print("Keyword after removing duplicate", keyword1)
encrypting=duplicates(keyword1+all_alphabets)
print("Encrypting text is: " , encrypting)
for i in encrypting:
  if(i==' '):
    encrypting.remove(' ')
for i in range(len(msg)):
  if(msg[i]!=' '):
    ciphertext=ciphertext+encrypting[all_alphabets.index(msg[i])]
  else:
    ciphertext=ciphertext+' ' 
print(keyword)
print(message)

['M', 'A', 'N', 'G', 'O', ' ', 'I', 'S', ' ', 'B', 'E', 'T', 'T', 'E', 'R', ' ', 'T', 'H', 'E', 'N', ' ', 'O', 'R', 'A', 'N', 'G', 'E']
Keyword after removing duplicate ['b', 'e', 't', 'r', ' ', 'n', 'o']
Encrypting text is:  ['b', 'e', 't', 'r', ' ', 'n', 'o', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
better no
mango is better then orange

In [3]:
x=lambda a,b:a*b

In [6]:
import pandas as pd
df=pd.DataFrame({
    'Name':['Sushil', "rushil", "tushil","mushil"],
    'Job':['Director',"actor",'Analyst','engineer'],
    'Birthyear':[2003,2003,2004,2022],
})
df

     Name       Job  Birthyear
0  Sushil  Director       2003
1  rushil     actor       2003
2  tushil   Analyst       2004
3  mushil  engineer       2022

In [7]:
df['age']=df['Birthyear'].apply(lambda x:2022-x)
df

     Name       Job  Birthyear  age
0  Sushil  Director       2003   19
1  rushil     actor       2003   19
2  tushil   Analyst       2004   18
3  mushil  engineer       2022    0